* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body {
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 70px 80px 30px repeat(3,166px) 30px;
}

.sideBarContainer {
    display: grid;
    background-color: rgb(9, 138, 213);
    grid-column: 1 / 2;
    grid-row: 1 / 8;
}

.headerContainer {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.topHeaderSection {
    display:grid;
}

#searchBar {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.topRightImageContainer {
    display: grid;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.topRightImg {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.bottomHeaderSection {
    display: flex;
    grid-column: 2 / 5;
    grid-row: 2 / 3;
}

.bottomLeftHeaderSection {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.bottomRightHeaderSection {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.blockContainer {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
}

.row1 {
    display: grid;
    /* grid-column: 2 / 4;
    grid-row: 4 / 5; */
}

.leftContainerLftColumn1 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.leftContainerRgtColumn1 {
    grid-column: 3 / 4;
    grid-row: 4 / 7;
}

.row2 {
    display: grid;
    /* grid-column: 2 / 4;
    grid-row: 5 / 6; */
}

.leftContainerLftColumn2 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.leftContainerRgtColumn2 {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

.row3 {
    display: grid;
    /* grid-column: 2 / 4;
    grid-row: 6 / 7; */
}

.leftContainerLftColumn3 {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.leftContainerRgtColumn3 {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}

.rightContainer {
    display:grid;
}

.topRightContainer {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
}

.bottomRightContainer {
    display: flex;
    grid-column: 4 / 5;
    grid-row: 6 / 7;
}