* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 70px 80px 30px repeat(3,166px) 30px;
}

.sideBarContainer {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 8;
    background-color: rgb(9, 138, 213);
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}

.headerContainer {
    grid-column: 2 / 5;
    grid-row: 1 / 3;
}

.topHeaderSection {
    display:grid;
    padding-top:20px; 
    justify-content: start;
}

.topHeaderSection #searchBar {
    width: 200%;
}

#searchBar {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.topRightImageContainer {
    display: flex;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    position: absolute;
    right: 0px;
    gap:10px;
}

.topRightImg {
    width: 25px;
    height: 25px;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.bottomHeaderSection {
    display: flex;
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    padding-top: 20px;
}



.bottomLeftHeaderSection {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    gap: 10px;
}

.bottomRightHeaderSection {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    position: absolute;
    right: 0px;
    gap:10px;
}

.bottomLeftImg {
    width: 35px;
    height: 35px;
}

.nestedHeaderSection p {
    margin-bottom: 1px;
    font-size: 10px;
    font-weight: bold;
}

.blockContainer {
    display: flex;
    grid-column: 2 / 5;
    grid-row: 3 / 8;
    background-color: rgb(227, 253, 255);
}

.containerHeaders {
    display: flex;
}

.row1 {
    display: grid;
    width: 600px;
    height:auto;
    gap:20px;
}

.leftContainerLftColumn1 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;

}

.leftContainerRgtColumn1 {
    grid-column: 3 / 4;
    grid-row: 4 / 7;
}

.row2 {
    display: grid;
    width: 600px;
    height:auto;
    gap:20px
}

.leftContainerLftColumn2 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.leftContainerRgtColumn2 {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

.row3 {
    display: grid;
    width: 600px;
    height:auto;
    gap:20px
}

.leftContainerLftColumn3 {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.leftContainerRgtColumn3 {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}

.rightContainer {
    display:grid;
}

.topRightContainer {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
}

.bottomRightContainer {
    display: grid;
    grid-column: 4 / 5;
    grid-row: 6 / 7;
}

.bottomRightContentContainer {
    display: flex;
}

.bottomRightImgs {
    width:25px;
    height:25px;
}